/* =============
    Base
============= */

.large-images{
    width:100%;
}

.small-picture{
    width: 110px;
    height: 110px;
}

.item-images{
    width: 318px;
    height: 164px;
    object-fit: cover;
}

.logo-image{
    width:119px;
    height:40px;
}

.radish1{
    width: 320px;
    height: 488px;
    object-fit: cover;
}

.radish2{
    width: 324px;
    height: 365px;
    object-fit: cover;
}


.container{
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
    ". content ."
    ;
}

.content{
    grid-area: content;
}

.bg-light-pink{
    background-color:#FFB6B6;
}

.bg-dark-pink{
    background-color:#FF8282;
}

.header-color{
    background-color:#FFB6B6;
}

.white-text{
    color:white;
}

.light-purple{
    background-color: #E0E0F2;
}