/* =============
    Footer
============= */

.footer{

    &.container{

        @include md{
            display:grid;
            grid-template-columns: 10% auto 10%;
            grid-template-areas: 
            ". content ."
            ;
        }
    }
}
