/* =============
    Radish
============= */

.radish{
    @include md{
        .radish-pictures{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
            "radish1 radish2";
        }

        .radish1{
            width: 393px;
            height: 596px;
            object-fit: cover;
        }

        .radish2{
            width: 393px;
            height: 596px;
            object-fit: cover;
        }
    }

    @include lg{
        .radish-pictures{
           display: grid;
           grid-template-columns: 536px auto;
           grid-template-areas: 
           "radish1 radish2"; 
        }

        .radish1{
            width: 536px;
            height: 625px;
            object-fit: cover;
        }

        .radish2{
            width: 460px;
            height: 625px;
            object-fit: cover;
        }

    }
}