/* =============
    Footer
============= */

footer{
    @include md{
        .footer-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "locations sign-up follow";
        }
    }
    
    
    @include lg{
        .footer-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "locations sign-up follow";
        }
    }
}