/* =============
   Buttons
============= */


.button1:hover{
    background-color: #FF8282;
 }
 
 
 .button2:hover{
    background-color: #fff;
 }
 
 
 .button1{
    background-color: #fff;
    color: #FF8282;
    padding: 8px 15px 8px 15px;
   //  margin-top: -50px;
 }
 
 
 .button2{
    background-color: #FF8282;
    color:#fff;
    padding: 8px 15px 8px 15px;
    display: flex;
    flex-direction: column;
 }
 
 
 .button-search{
    background-color: #FF8282;
    padding: 8px 15px 8px 15px;
    margin-left: 10px;
 }
 